* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: sans-serif;
}

@font-face {
    font-family: "azure";
    src: url(font/MWFFluentIcons.woff2);
}

@font-face {
    font-family: "bold";
    src: url(font/semi_bold.woff2);
}

@font-face {
    font-family: "azure-mw";
    src: url(font/mwfmdl2-v3.54.woff);
}

@font-face {
    font-family: "azure-N";
    src: url(font/normal.woff2);
}

:root {
    --border-white: #e6e6e6;
}

button {
    background-color: transparent;
    border: none;
}

header {
    /* width: 100%; */
    height: 49px;
}

.top {
    height: 54px;
    margin-bottom: 2px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
}

.hamburger {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 1px;
    padding: 6px 0 8px 0;
    vertical-align: baseline;
    line-height: 15px;
    position: absolute;
    padding-left: 20px;
}

.hamburger::before {
    font-family: "azure-mw";
    content: "";
    font-size: 20px;
    margin-left: 2px;
    padding: 6px 0px 8px;
    margin: 6px;
}

.search::after {
    font-family: "azure-mw";
    content: "";
    font-size: 16px;
    align-items: flex-start;
    appearance: button;
    box-sizing: border-box;
    padding: 9px 8px 9px 0px;
    margin: 2px 6px 1px 9px;
}

.azure-logo {
    padding: 13px 4px;
    margin: 1px;
}

.azure-logo img {
    min-width: 108px;
    height: 23px;
    margin: -3px 0px 0px;
}

.icon {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    float: right;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: normal;
    text-align: left;
    display: flex;
    position: relative;
    justify-content: center;
}

.azure {
    display: flex;
    padding: 0px 15px;
    margin: 0px 1px;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    text-align: left;
    align-items: center;
    height: 34px;
}

.azure span {
    font-weight: 548;
    font-size: 15px;
    text-align: center;
}

.azure img {
    width: 13px;
    height: 12px;
    padding: 0px 0px 0px 7px;
}

.top_img {
    display: flex;
    object-fit: cover;
    max-width: inherit;
}

.top_img img {
    width: 100%;
}

.azure_content {
    background: rgb(0, 41, 72);
    background-repeat: no-repeat;
    object-fit: cover;
    padding-bottom: 56px;
}

.second_content {
    padding-top: 2rem;
    padding-inline: 1rem;
}

.azure_span {
    height: 16px;
    margin: 0px 0px 16px 0px;
}

.azure_span span {
    font-size: .75rem;
    letter-spacing: 0.96px;
    color: rgb(179, 218, 240);
    line-height: 16px;
}

.downwards_arrow::after {
    font-family: "azure";
    content: "";
    font-size: 16px;
    margin-left: 2px;
    padding: 0px 0px 0px 7px;
}

.azure_h h1 {
    height: 80px;
    font-size: 32px;
    font-family: "bold";
    margin-top: 0;
    color: rgb(244, 250, 253);
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.6px;
}

.azure_p {
    margin: 16px 0px 0px 0px;
    padding: 0px 16px 0px 0px;
}

.azure_p p {
    height: 164px;
    font-size: 18px;
    box-sizing: border-box;
    color: rgb(244, 250, 253);
    display: contents;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-align: left;
    text-size-adjust: 100%;
    background-color: transparent;
    line-height: 1.75rem;
    font-family: azure-N;
}

.start {
    display: flex;
    padding: 12px;
    border-width: 2px;
    background: rgb(179, 218, 240);
    font-size: 15px;
    color: rgb(14, 23, 38);
    margin-top: 24px;
    border-radius: 10px;
    justify-content: center;
}

.start span {
    display: flex;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    font-weight: 600;
    padding: 0px 0px 2px;
    text-align: center;
}

.buttons_start {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start_button {
    display: flex;
    padding: 12px;
    border-width: 2px;
    background: rgb(0, 41, 72);
    border: 2px solid rgb(179, 218, 240);
    font-size: 15px;
    color: rgb(244, 250, 253);
    margin-top: 24px;
    border-radius: 10px;
    justify-content: center;
}

.start_button span {
    display: flex;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    padding: 0px 0px 2px;
    text-align: center;
}

.feature {
    display: flex;
    height: 56px;
    border-bottom: 4px solid rgb(0, 66, 117);
}

.featured {
    display: flex;
    padding: 12px;
    column-gap: 160px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    color: rgb(0, 103, 184);
    line-height: 20px;
}

.featured span {
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-size: 14px;
    font-weight: 600;
    display: block;
    letter-spacing: -0.48px;
    line-height: 20px;
    min-width: max-content;
    text-align: left;
}

.discover {
    background: url(img/background2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 16px 56px 16px;
}

.discover_span {
    display: flex;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96;
    line-height: 16px;
    margin-bottom: 12px;
    text-align: left;
    text-transform: uppercase;
}

.discover_h {
    display: block;
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 24px; */
    /* font-weight: 600; */
    letter-spacing: -1.2px;
    /* line-height: 24px; */
    text-align: left;
    text-size-adjust: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(254, 254, 254);
    border-radius: 16px;
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-weight: 400;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    flex-grow: 1;
}

.card_media {
    object-fit: cover;
    padding: 8px 8px 0px 8px;
}

.card_media img {
    width: 100%;
    aspect-ratio: 2.33333/1;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    object-fit: cover;
}

.card_content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    padding: 16px;
}

.card_content_span span {
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.54px;
    line-height: 24px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
}

.card_content_p p {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    letter-spacing: -0.48px;
    line-height: 24px;
    text-align-last: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card_slim {
    display: flex;
    margin-top: 32px;
    row-gap: 8px;
    column-gap: 8px;
}

.right_arrow::before {
    height: 35px;
    font-family: "azure";
    content: "";
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    color: white;
    background-color: rgb(0, 120, 212);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.explore_ai span {
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 20px;
    padding-bottom: 2px;
    text-align: left;
}

.solutions {
    padding: 56px 16px;
    background: rgb(244, 250, 253);

}

.find_solution span {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 16px;
    margin-bottom: 12px;
}

.ideas h2 {
    box-sizing: border-box;
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 32px;
}

.buttons {
    margin-top: 24px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: flex;
    flex-wrap: nowrap;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: start;
    letter-spacing: -0.48px;
    line-height: 24px;
    position: relative;
    text-align: start;
    z-index: 0;
    overflow: auto;
    scrollbar-width: none;
}

.feature_solution {
    display: flex;
}

.tab_group {
    display: flex;
    align-items: center;
}

.buttons button {
    display: flex;
    height: 40px;
    align-items: flex-start;
    padding: 8px 16px;
    font-size: .9375rem;
    margin: 0px 8px 0px 0px;
    appearance: button;
    background-color: rgba(0, 85, 151, 0.1);
    border-radius: 25px;
    border-bottom-style: none;
    min-width: max-content;
    color: rgb(0, 85, 151);
}

.button span {
    color: rgb(0, 66, 117);
}

button:nth-child(1) {
    background-color: rgb(0, 85, 151);
}

.item {
    color: #ffffff;
}

.azure_ai {
    border-bottom: 0.5px solid #b4b4b4;
}

.ai {
    display: flex;
    height: 29px;
    align-items: center;
    padding: 24px 0px;
    font-weight: 600;
    row-gap: 8px;
    justify-content: space-between;
}

.up_arrow::before {
    font-family: "azure";
    content: "";
    font-size: 16px;
}

.portfolio {
    display: flex;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
}

.explore {
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: left;
    text-underline-offset: 2px;
    -webkit-tab-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 24px;
}

.build {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 0.5px solid #b4b4b4;
}

.build_img img {
    aspect-ratio: auto;
    border-radius: 16px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    max-width: 100%;
    object-fit: fill;
    overflow-clip-margin: content-box;
}

.bellbutton {
    position: absolute;
}

.bellbutton::before {
    display: flex;
    font-family: "azure";
    width: 48px;
    height: 48px;
    content: "";
    align-items: center;
    color: white;
    background-color: rgb(0, 120, 212);
    border-radius: 8px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image-width: 1;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: -0.3px;
    line-height: 22px;
    list-style-type: none;
    row-gap: 12px;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: url(img/background3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 16px 56px 16px;
}

.kubermetes {
    margin-top: 32px;
    background: url(img/card4.avif);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 412px; */
    padding: 16px;
    border-radius: 16px;
}

.aks {
    height: 220px;
}

.service_aks {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.service_aks h3 {
    display: flex;
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 32px;
    text-align: left;
    gap: 89px;
}

.service_aks p {
    height: 48px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
}

.explore_product {
    display: flex;
    padding: 12px;
    background: #0078d4;
    font-size: 15px;
    color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.explore_product span {
    height: 24px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 22px;
    text-align: center;
}

.open_service {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
}

.studio {
    padding: 16px;
}

.studio_img {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
}

.studio_img img {
    width: 24px;
    height: 24px;
}

.star_span {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    column-gap: 12px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    row-gap: 12px;
}

.star_link {
    margin-top: 32px;
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
}

.gartner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: url(img/background4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 16px 48px 16px;
}

.microsoft {
    background-color: #ffffff;
    border-radius: 16px;
}

.gartner_img img {
    height: 100%;
    width: 100%;
    padding: 8px 12px 0px;
    aspect-ratio: 1.33333/1;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    object-fit: cover;
}

.microsoft_leader {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.gartner_microsoft {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.microsoft_h h3 {
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 32px;
    text-align: left;
}

.microsoft_p {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "azure-N";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    line-height: 28px;
    text-align: left;
}

.transform {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
}

.transform_way {
    padding: 48px 16px 0px 16px;
    background: url(img/background5.webp);
}

.transform_you {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Bold";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 16px;
    text-align: center;
    margin: 0px 0px 12px 0px;
}

.transform_the_way {
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    display: block;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 36px;
    text-align: center;
    unicode-bidi: isolate;
}

.transform_the_way h2 {
    font-size: 28px;
    font-family: "Bold";
}

.it_professional {
    height: 52px;
    padding: 8px 0px 8px 8px;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    border-bottom-style: none;

}

.it_professional a:nth-child(1) {
    border-bottom: 3px solid rgb(0, 66, 117);
}

.developers {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    appearance: button;
    background-color: #fefefe;
    border-bottom-style: none;
    scrollbar-width: none;
    overflow: scroll;

}

.developers a {
    /* width: 220px; */
    height: 24px;
    box-shadow: inset 1px 2px 0.125rem rgba(0, 0, 0, 0.12), 0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
    text-decoration: none;
    border-radius: 2px;
    color: #000;
    font-family: "Bold";
    min-width: 220px;
    padding: 12px 16px 16px 16px;
    padding-right: 20px;

}

.tab {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-size: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    margin-top: 24px;
    padding-bottom: 40px;
}

.button_right::after {
    content: "";
    font-family: "Azure";
    border: 2px solid #02243E;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-right: 8px;
    font-weight: 600;
    opacity: .6;
}

.button_left::after {
    content: "";
    font-family: Azure;
    border: 2px solid #02243E;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    font-weight: 600;
}

.azure_solution {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Bold";
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: -0.48px;
    padding: 24px 0px 48px 0px;
    line-height: 24px;
}

.azure_service {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
}

.azure_service_h h4 {
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    display: block;
    font-family: "Bold";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 28px;
    text-align: center;
    text-size-adjust: 100%;
}

.whole {
    background: url(img/background5.webp);
    background-size: cover;
    padding-inline: 16px;
}

.whole_studio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.azure_slim {
    display: flex;
    row-gap: 8px;
    column-gap: 8px;
    justify-content: center;
    margin-top: 12px;
}

.arrow::before {
    height: 35px;
    font-family: "azure";
    content: "";
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    color: white;
    background-color: rgb(0, 120, 212);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.azure_service_ai span {
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 20px;
    padding-bottom: 2px;
    text-align: left;
}

.migration_img {
    backdrop-filter: blur(20px);
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    margin-top: 24px;
    border: 1px;
    border-radius: 16px;
}

.migration_img img {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    object-fit: fill;
}

.glob {
    background: url(img/card8.avif);
    background-size: cover;
    box-sizing: border-box;
    color: rgb(220, 238, 248);
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
    background-position: center;
    padding: 56px 0px 80px 0px;
}

.global {
    padding: 0px 16px 0px 16px;
}

.azure_infrastructure {
    box-sizing: border-box;
    color: rgb(244, 250, 253);
    display: block;
    font-weight: 500;
    font-family: "azue-N";
    letter-spacing: -1.6px;
    line-height: 40px;
    text-align: center;
}

.azure_infrastructure_p p {
    box-sizing: border-box;
    color: rgb(220, 238, 248);
    text-align: center;
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    line-height: 28px;
    margin-top: 16px;
    padding-inline: 16px;
}

.azure_infrastructure_globe {
    display: flex;
    justify-content: center;
    padding: 12px;
    background: rgb(179, 218, 240);
    font-size: 15px;
    color: rgb(14, 23, 38);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.customer {
    background: url(img/background6.webp);
    background-size: cover;
    padding: 48px 16px;
}

.customer_stories_span {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 16px;
    margin-bottom: 12px;
    text-align: left;
    text-transform: uppercase;
}

.customer_stories_h {
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    letter-spacing: -1.2px;
    line-height: 32px;
    text-align: left;
    text-size-adjust: 100%;
}

/* .hp_github{
    background-color: #ffffff;
    border-radius: 16px;
} */
.hp_workflow {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: flex;
    flex-wrap: wrap;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    text-align: left;
}

.hp_workflow img {
    width: 100%;
    padding: 8px 12px 0px;
    aspect-ratio: 1.33333/1;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    object-fit: cover;
}

.hp_incorporated {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.logo_hp img {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 76px;
    letter-spacing: -0.48px;
    position: relative;
    text-align: left;
    text-wrap: wrap;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: inset 1px 2px 0.125rem rgba(0, 0, 0, 0.12), 0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
}

.hp_work h4 {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 28px;
    overflow-wrap: break-word;
    text-align: left;
    text-wrap: wrap;
    white-space: collapse;
}

.azure_products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo_double {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logos_double {
    display: flex;
    gap: 5px;
}

.product_list h6 {
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 24px;
    overflow-wrap: break-word;
    text-align: left;
}

.logo_one u {
    box-sizing: border-box;
    color: rgb(0, 103, 184);
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-decoration-color: rgb(0, 103, 184);
}

.whole_hp {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
}

.hp {
    background-color: #ffffff;
    border-radius: 16px;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.arrows {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-size: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    margin-top: 24px;
}

.arrow_right::after {
    content: "";
    font-family: "Azure";
    border: 2px solid #02243E;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-right: 8px;
    font-weight: 600;
    opacity: .6;
}

.arrow_left::after {
    content: "";
    font-family: Azure;
    border: 2px solid #02243E;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    font-weight: 600;
}

.take_step {
    background: url(img/background7.webp);
}

.steps {
    padding: 56px 16px;
}

.azure_steps_h h2 {
    box-sizing: border-box;
    color: rgb(244, 250, 253);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 24px;
}

.card_azure {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(254, 254, 254);
    border-radius: 16px;
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-weight: 400;
    flex-grow: 1;
}

.card_content_azure {
    align-items: flex-start;
    padding: 16px;
}

.card_content_span_azure span {
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.54px;
    line-height: 24px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
}

.card_content_p p {
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    letter-spacing: -0.48px;
    line-height: 24px;
    text-align-last: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card_slim {
    display: flex;
    margin-top: 32px;
    row-gap: 8px;
    column-gap: 8px;
}

.right_arrow::before {
    height: 35px;
    font-family: "azure";
    content: "";
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    color: white;
    background-color: rgb(0, 120, 212);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.explore_ai span {
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 20px;
    padding-bottom: 2px;
    text-align: left;
}

.mobile_azure {
    padding: 24px 16px;
}

.get_mobile {
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 3.2px;
    display: inline-flex;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    flex-direction: row;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: -0.3px;
    line-height: 22px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 12px;
    position: relative;
    text-align: left;
}

.apps {
    display: flex;
}

.apps img {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: inline-block;
    letter-spacing: -0.48px;
    line-height: 24px;
    margin: 8px 0px 8px 12px;
}

.get_mobile img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.footer {
    background-color: rgb(242, 242, 242);
}

.footer_azure {
    padding-inline: 12px;
}

.explore_azure {
    padding: 12px;
}

.explore_azure_h h4 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 20px;
    padding-top: 36px;
    padding-bottom: 4px;
}

.azure_li li {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    list-style-type: none;
    text-decoration-color: rgb(97, 97, 97);
    padding-bottom: 8px;
    padding-top: 8px;
}

.footer_list_span {
    display: flex;
    align-items: center;
}

.footer_list_span::before {
    font-family: "azure-MW";
    content: "";
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
}

.footer_list {
    background-color: rgb(242, 242, 242);
}

.footer_list_span a {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    cursor: pointer;
    display: block;
    float: none;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    padding-right: 24px;
    text-align: left;
    text-decoration-color: rgb(97, 97, 97);
    text-wrap: wrap;
    text-decoration: none;
}

.right_wrong {
    box-sizing: border-box;
    clip-rule: evenodd;
    color: rgb(97, 97, 97);
    cursor: pointer;

}

.last_footer {
    background-color: rgb(242, 242, 242);
    padding: 30px 24px 16px 24px;
}

.right_wrong svg {
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    height: 16px;
    padding-right: 8px;
    vertical-align: middle;
    text-align: left;
}

.right_wrong {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    cursor: pointer;
    display: flex;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 4px 24px 0px 0px;
}

.health {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    padding-right: 24px;
    padding-top: 4px;
}

.whole_footer {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 3px;
}

.footer_list_iteams ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer_list_iteams li {
    list-style-type: none;
}

.tab_head {
    display: none;
}

.chatgpt {
    display: none;
}

.features {
    display: none;
}


@media screen and (min-width:540px) {
    .second_content {
        padding: 0px 64px;
    }

    .azure_span {
        padding-top: 32px;
        margin-bottom: 12px;
    }

    .buttons_start {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .discover {
        padding-inline: 64px;
    }

    .solutions {
        padding-inline: 64px;
    }

    .build {
        object-fit: cover;
    }

    .products {
        padding-inline: 64px;
    }

    .gartner {
        padding-inline: 64px;
    }

    .transform_way {
        padding-inline: 64px;
    }

    .whole {
        padding-inline: 64px;
    }

    .customer {
        padding-inline: 64px;
    }

    .steps {
        padding-inline: 64px;
    }

    .mobile_azure {
        padding-inline: 64px;
    }

    .mobile_app {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer_azure {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:860px) {
    .azure {
        display: none;
    }

    .mobile_head {
        display: none;
    }

    .tab_head {
        display: flex;
        padding-inline: 24px;
        height: 54px;
        gap: 20px;
    }

    .tab_logo {
        display: flex;
        align-items: center;
        padding: 16px 6px 16px 10px;
        margin-bottom: 2px;
    }

    .tab_azure_logo img {
        height: 23px;
        width: 108px;
        margin-top: -3px;
        max-width: none;
    }

    .tab_line::after {
        font-family: "azure-mw";
        content: " ";
        border-left-style: solid;
        border-left-width: 2px;
        box-sizing: border-box;
        color: #000;
        padding: 16px 6px 16px 10px;

    }

    .tab_azure {
        display: flex;
    }

    .tab_line {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }

    .tab_list {
        display: flex;
        align-items: center;
    }

    .tab_ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .tab_ul li {
        display: flex;
        list-style-type: none;
        align-items: center;
        gap: 20px;
    }

    .tab_azure_line {
        display: flex;
        padding: 16px 6px 16px 10px;
        align-items: center;
        box-sizing: border-box;
        color: rgb(38, 38, 38);
        cursor: pointer;
        display: flex;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: normal;
        margin-top: -3px;
        font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .tab_ul span {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        appearance: button;
        color: rgb(38, 38, 38);
        font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-right: -10px;
        margin-top: 1px;
        outline-offset: -2px;
    }

    .tab_down::after {
        display: flex;
        font-family: "azure-mw";
        content: "";
        font-size: 10px;
        align-items: center;
    }

    .search_fonts::after {
        font-family: "azure-mw";
        content: "";
        font-size: 16px;
        align-items: flex-start;
        appearance: button;
        box-sizing: border-box;
        padding: 20px 9px 30px 9px;
        margin: 0px 6px 1px 6px;
    }

    .top_img {
        position: relative;
    }

    .second_content {
        display: flex;
        position: absolute;
        top: 130px;
        background: transparent;
        /* flex-basis: 50%;
        width: 388px; */
    }

    .whole_tab_div{
        flex-basis: 50%;
    }

    .azure_span span {
        font-size: 12px;
        margin-bottom: 16px;
    }

    .azure_h h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .azure_p p {
        font-size: 18px;
        line-height: 28px;
    }

    .azure_p {
        margin-top: 28px;
    }

    .top_img img {
        height: 628px;
        object-fit: cover;
    }

    .start_button {
        background: transparent;
    }

    .ai-chat-banner {
        padding: 32px 56px;
    }

    .layout-gpt-cols {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 8px;
    }

    .ai-assistant {
        display: flex;
        align-items: center;
        flex-basis: calc(50% - 8px);
        flex-grow: 0;
        flex-shrink: 0;
    }

    .ai-assistant-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: rgb(220, 238, 248);
        column-gap: 5px;
        row-gap: 5px;
        padding: 12px 12px 12px 0px;
    }

    .assistant-content-head h2 {
        margin: 0;
        color: rgb(244, 250, 253);
        font-family: 'bold';
    }

    .assistant-badge img {
        height: 32.875px;
        max-height: 40px;
        width: 40px;
        max-width: 40px;
    }

    .assistant-content {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        align-items: flex-start;
    }

    .assistant-content-para {
        font-size: 14px;
        letter-spacing: -0.42px;
        line-height: 16px;
    }

    .layout-ai-chat {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        flex-basis: calc(50% - 8px);
        flex-grow: 0;
        flex-shrink: 0;
    }

    .ai-searchbar {
        height: 60px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background-color: rgb(254, 254, 254);
        border-radius: 8px;
    }

    .ai-searchbar input {
        width: 100%;
        padding: 20px 60px 20px 16px;
        border: 0;
        border-radius: 8px;
        font-size: 15px;
    }

    .linear-border {
        height: 4px;
        background: linear-gradient(90deg, rgb(10, 134, 196) 0.3%, rgb(113, 237, 232) 100%);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .border-div-plus {
        border-radius: 8px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(254, 254, 254);
        width: 100%;
    }

    .ai-search-btn {
        padding: 14px;
        border: 0;
        background-color: transparent;
    }

    .ai-search-btn div {
        width: 24px;
        height: 24px;
    }

    .ai-list-tags {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        flex-wrap: wrap;
    }

    .ai-chat-message {
        padding: 8px 10px;
        background-color: transparent;
        border: 1px solid rgb(141, 200, 232);
        border-radius: 8px;
        color: rgb(244, 250, 253);
        font-size: 13px;
        font-weight: 400;
        height: 38px;
    }

    .feature {
        display: none;
    }

    .features {
        display: flex;
    }

    .solution {
        display: flex;
        flex-grow: 1;
        letter-spacing: -0.48px;
        box-sizing: border-box;
        overflow: scroll;
        scrollbar-width: none;
        scrollbar-color: rgb(0, 66, 117);
        justify-content: space-between;
        line-height: 24px;
    }

    .featured:nth-child(1) {
        border-bottom: 3px solid rgb(0, 66, 117);
    }

    .chatgpt {
        display: flex;
    }

    .azure_content {
        padding: 32px 0px;
    }

    .discover {
        padding: 96px 64px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        margin-top: 48px;
    }

    .card_content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: space-between;
        gap: 20px;
        padding: 24px;
    }

    .card_content_p {
        padding: 0px 24px 0px 0px;
    }

    .solutions {
        padding: 96px 64px;
        position: relative;
    }

    .features {
        padding: 0px 56px;
        align-items: center;
    }

    .featured {
        margin: 0px 48px 0px 0px;
    }

    .button_left_arrows::after {
        content: "";
        font-family: Azure;
        border: 2px solid rgb(0, 66, 117);
        border-radius: 30px;
        height: 40px;
        width: 40px;
        padding: 10px;
        font-weight: 600;
        margin-inline: 8px;
    }

    .build {
        position: absolute;
        top: 235px;
        right: 64px;
        width: 40%;
    }

    .whole_solutions {
        width: 28%;
    }

    .start_azure {
        display: flex;
        padding: 12px;
        border-width: 2px;
        background: #0078d4;
        font-size: 15px;
        color: rgb(244, 250, 253);
        /* margin-top: 24px; */
        border-radius: 10px;
        justify-content: center;
        margin: 0px 0px 0px 32px;
    }

    .start_azure span {
        width: 108px;
        text-align: center;
    }

    .kumbermetes {
        display: grid;
        grid-area: 1/1;
    }

    .whole_studio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .microsoft {
        display: flex;
        flex-direction: row-reverse;
    }

    .microsoft_leader {
        flex-basis: 50%;
        row-gap: 96px;
        column-gap: 96px;
    }

    .gartner_img {
        object-fit: cover;
    }

    .migration_img {
        margin: 32px 124.672px 0px 124.672px;
    }

    .glob {
        padding: 96px 0px 96px 0px;
    }

    .global {
        padding: 0px 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .azure_infrastructure_p p {
        padding: 0px 48px;
        margin-top: 24px;
    }

    .azure_infrastructure_globe {
        display: flex;
        width: 150px;
        justify-content: center;
        text-align: center;
    }

    .hp_github {
        display: flex;
        flex-direction: row-reverse;
    }

    .hp_workflow img {
        border-radius: 16px;
        padding: 8px 8px 8px 0px;
    }

    .hp_incorporated {
        flex-basis: 80%;
        padding: 24px;
    }

    .explore_product {
        padding: 12px 16px;
        width: 106px;
    }

    .card_content_azure {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: space-between;
        gap: 15px;
        padding: 24px;
    }

    .card_azure {
        display: flex;
        flex: 0 0 calc(calc(100% - calc(1rem * (3 - 1))) / 3);
    }

    .studio {
        display: flex;
        flex-direction: column;
    }

    .star_span {
        display: flex;
        flex: 1 1 auto;
    }

    .azure_aii_whole:nth-child(1) {
        border-left: 3px solid #000;
    }

/* section fixed */

    #fixed{
        display: flex;
        height: 70px;
    }
    .finalblock_elm3 li{
        padding:0px 24px 4px 0px;
    }
    .finalBlock{
        padding: 32px 6px 16px 12px;
        gap: 0px;
    }
    .fixedBlock{
        display: flex;
        justify-content: flex-end;
        position: fixed;
        z-index: 1000;
        /* top: 696px; */
        right: 16px;
        bottom: 0;
    }
    .fixedBlock_elm{
        display: flex;
        align-items: center;
        box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.9);;
        border-radius: 16px;
        padding: 16px;
        padding-right: 17px;
    }
    .fixedBlock_elm1-image{
        padding-top: 2px;
    }
    .fixedBlock_elm1-image img{
        width: 24px;
        height: 24px;
    }
    .fixedBlock_ecd lm2{
        margin-left: 12px;
    }
    .fixedBlock_elm2 span{
        font-size: 18px;
        font-family: 'bold';
        letter-spacing: -0.54px;
    }
    .fixedBlock_elm3 span::after{
        font-family: 'azure-mw';
        content: "";
        font-size: 16px;
        color: white;
    }
    .fixedBlock_elm3{
        margin-inline-start: 32px;
        padding: 8px;
        letter-spacing: -0.3px;
        border-radius: 8px;
        background: rgb(0, 120, 212);
        height: 36px;
        width: 35.7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}