* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: sans-serif;
}
@font-face {
    font-family: "azure";
    src: url(font/MWFFluentIcons.woff2);
}
@font-face {
    font-family:"bold";
    src: url(font/semi_bold.woff2);
}
@font-face {
    font-family: "azure-mw";
    src: url(font/mwfmdl2-v3.54.woff);
}
@font-face {
    font-family: "azure-N";
    src: url(font/normal.woff2);
}
:root{
    --border-white: #e6e6e6;
}
button{
    background-color: transparent;
    border: none;
}
header{
    width: 100%;
    height: 49px;
}
.icon{
    align-items: center;
    gap: 10px;
}
.top{
    height: 54px;
    display: flex;
    padding: 0px 0px;
    border-bottom: 1px solid #e6e6e6;
}
.hamburger{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 1px;
    padding: 6px 0 8px 0;
    vertical-align: baseline;
    line-height: 15px;
}

.hamburger::before {
    font-family: "azure";
    content: "";
    font-size: 20px;
    margin-left:  2px;
    padding: 6px 0px 8px;
    margin: 6px;
}

.search::before {
    font-family: "azure";
    content: '';
    font-size: 12px;
    margin-left:  2px;
    padding: 8px 8px 8px 0px;
    margin: 2px 6px 1px 4px;
}
.azure-logo{
    padding: 10px 4px;
    margin: 1px;
}
.azure-logo img{
    min-width: 108px;
    height: 23px;
    margin: -3px 0px 0px;
}
.icon{
    display: flex;
}
.azure{
    display: flex;
    padding: 0px 15px;
    margin: 0px 1px;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    text-align: left;
    align-items: center;
}
.azure span{
    height: 33px;
    font-weight: 530;
    font-size: 15px;
    text-align: center;
}
.azure img{
    width: 13px;
    height: 12px;
    padding: 0px 0px 0px 7px;
}
.top_img{
    display: flex;
    height: 179px;
    object-fit: cover;
    max-width: inherit;
}
.azure_content{
    background-image: linear-gradient(90deg, rgb(237, 232, 246) 0%, rgb(244, 250, 253) 49.99%, rgb(220, 238, 248) 100%);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 500px;
}
.second_content{
    padding-top: 2rem;
    padding-inline: 1rem;
}
.azure_span{
    height: 16px;
    margin: 0px 0px 16px 0px;
}
.azure_span span{
    font-size: .75rem;
    letter-spacing: 0.96px;
    color: #17253d;
    line-height: 16px;
}
.downwards_arrow::after {
    font-family: "azure";
    content: "";
    font-size: 16px;
    margin-left:  2px;
    padding: 0px 0px 0px 7px;
}
.azure_h h1{
    height: 80px;
    font-size: 2rem;
    font-family: "bold";
    margin-top: 0;
    font-weight: 600;
    line-height: 2.5rem;
}
.azure_p{
    margin: 16px 0px 0px 0px;
    padding: 0px 16px 0px 0px;
}
.azure_p p{
    height: 164px;
    font-size: 18px;
    box-sizing: border-box;
    display: contents;
    font-weight: 400;
    color: #17253d;
    letter-spacing: -0.54px;
    text-align: left;
    text-size-adjust: 100%;
    background-color: transparent;
    line-height: 1.75rem;
    font-family: azure-N;
}
.start{
    display: flex;
    padding: 12px;
    background: #0078d4;
    font-size: 15px;
    color: #ffffff;
    margin-top: 24px;
    border-radius: 10px;
    justify-content: center;
}
.start span{
    display: flex;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    font-weight: 600;
    padding: 0px 0px 2px;
    text-align: center;
}
.feature{
    display: flex;
    height: 56px;
    border-bottom: 4px solid rgb(0, 66, 117);
}
.featured{
    display: flex;
    padding: 12px;
    column-gap: 160px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    color: rgb(0, 103, 184);
    line-height: 20px;
}
.featured span{
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-size: 14px;
    font-weight: 600;
    display: block;
    letter-spacing: -0.48px;
    line-height: 20px;
    text-align: left;
}
.discover{
    background: url(img/background2.webp);
    background-repeat: no-repeat;
    height: 1293px;
    padding: 56px 16px 0px 16px;
}
.discover_span{
    display: flex;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96;
    line-height: 16px;
    margin-bottom: 12px;
    text-align: left;
    text-transform: uppercase;
}
.discover_h{
    height: 64px;
    display: block;
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 24px; */
    /* font-weight: 600; */
    letter-spacing: -1.2px;
    /* line-height: 24px; */
    text-align: left;
    text-size-adjust: 100%;
}
.card{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(254, 254, 254);
    border-radius: 16px;
    font-size: 16px;
    height: 380.141px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-weight: 400;
    flex-grow: 1;
}
.card_media{
    object-fit: cover;
    padding: 8px 8px 0px 8px;
}
.card_media img{
    aspect-ratio : 2.33333/1;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 113.141px;
    letter-spacing: -0.48px;
    line-height: 24px;
    object-fit: cover;
}
.card_content{
    align-items: flex-start;
    padding: 16px;
}
.card_content_span span{
    box-sizing: border-box;
    color: rgb(14, 23, 38);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.54px;
    line-height: 24px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
}
.card_content_p p{
    height: 96px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    letter-spacing: -0.48px;
    line-height: 24px;
    text-align-last: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.card_slim{
    display: flex;
    margin-top: 32px;
    row-gap: 8px;
    column-gap: 8px;
}
.right_arrow::before {
    height: 35px;
    font-family: "azure";
    content: "";
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    background-color: rgb(0, 120, 212);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.explore_ai span{
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 20px;
    padding-bottom: 2px;
    text-align: left;
}
.solutions{
    padding: 56px 16px;
}
.find_solution span{
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 16px;
    margin-bottom: 12px;
}
.ideas h2{
    box-sizing: border-box;
    display: block;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 32px;
}
.buttons{
    margin-top: 24px;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    display: flex;
    flex-wrap: nowrap;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: start;
    letter-spacing: -0.48px;
    line-height: 24px;
    position: relative;
    text-align: start;
    z-index: 0;
    overflow: auto;
    scrollbar-width: none;
}
.buttons button{
    height: 40px;
    align-items: flex-start;
    padding: 8px 16px;
    margin: 0px 8px 0px 0px;
    appearance: button;
    background-color: rgba(0, 85, 151, 0.1);
    border-radius: 25px;
    border-bottom-style: none;
    min-width: max-content;
    color:  rgb(0, 85, 151);
}
button span{
    /* background-color: rgba(0, 85, 151, 0.1); */
    color: rgb(0, 66, 117);
}
button:nth-child(1){
    background-color: rgb(0, 85, 151);
}
.item{
    color: #ffffff;
}
.ai{
    display: flex;
    height: 29px;
    align-items: center;
    padding: 0px 0px 24px;
    font-weight: 600;
    row-gap: 8px;
    margin-top: 24px;
    justify-content: space-between;
}
.up_arrow::before {
    font-family: "azure";
    content: "";
    font-size: 16px;
}
.portfolio{
    display: flex;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
}
.explore{
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: left;
}
